.custom-dropdown {
    border: 0px;
    width: 100%;
    height: 5vh;
    background-color: transparent;
}

select {
    border: 0px;
    height: 5vh;
    width: 99.5%;
    border-radius: 30px;
    padding: 0px 0px 0px 16px;
    color: #777777;
}