.hdrBody {
    display: flex;
    flex-direction: row;
    height: 8vh;
    padding: .2vw 2vw .2vw 2vw;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(20px);
    border-radius: 100px;
    margin: 3vh 5vw 0vh 5vw;
    width: 85vw;
    position: fixed;
    /* box-shadow: 0 0 0.1rem #5089F9; */
}

.hdrNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.hdrProfile {
    display: flex;
    flex: .5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navBtn {
    display: flex;
    width: 8vw;
    background-color: #eff0f3;
    border-color: transparent;
    height: 4.5vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    padding-right: .5vw;
}

.navBtn:hover {
    background-color: #34353d;
    color: #eff0f3
}

#hdrTitle {
    padding-left: .25vw;
    padding-right: 3.5vw;
}

#actionBtn {
    margin-left: 3%;
}

.hdrIcon {
    color: '#34353d';
    margin-right: 6%;
}

.actionBtn {
    display: flex;
    width: 8vw;
    background-color: #5089F9;
    border-color: transparent;
    height: 4.5vh;
    border-radius: 50px;
    align-items: center;
    color: #eff0f3;
    margin-left: 4%;
    justify-content: center;
}

.actionBtn:hover {
    background-color: #3361FB;
}

.hideItem {
    display: none;
}