.hdr {
    position: relative;
    z-index: 5;
}

.hdrBody {
    display: flex;
    flex-direction: row;
    height: 65px;
    padding: .2vw 2vw .2vw 2vw;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(15px);
    border-radius: 100px;
    margin: 3vh 7vw 0vh 7vw;
    width: 81vw;
    position: fixed;
    /* box-shadow: 0 0 0.1rem #5089F9; */
}

.hdrNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.hdrProfile {
    display: flex;
    flex: .5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navBtn {
    display: flex;
    width: 115px;
    background-color: #eff0f3;
    border-color: transparent;
    height: 35px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding-right: .5vw;
}

.navBtn:hover {
    background-color: #34353d;
    color: #eff0f3
}

#hdrTitle {
    padding-left: .25vw;
    padding-right: 3.5vw;
}

#actionBtn {
    margin-left: 3%;
}

.hdrIcon {
    color: '#34353d';
    margin-right: 6%;
}