#formContainer {
    display: flex;
    position: absolute;
    background-color: #5089F9;
    left: 50%;
    top: 50%;
    width: 80vw;
    height: 72vh;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
}

#loginWrapper {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#budgetWoman {
    width: 100%;
    margin-top: -.5vw;
}