#circle {
    position: absolute;
    height: 45vh;
    bottom: 0vh;
    left: 0vw;
}

#dots {
    position: absolute;
    opacity: 60%;
    width: 60vw;
    top: -55vh;
    right: -30vw;
}

#loginHdr {
    display: flex;
    align-items: center;
    margin-left: 2.5vw;
    margin-top: 2.5vh;
}

#signup {
    margin-left: .5vw;
    margin-right: 1.5vw;
}