#circle {
    position: absolute;
    height: 45vh;
    bottom: 0;
    left: 0;
}

#dots {
    position: absolute;
    opacity: 60%;
    width: 60vw;
    top: -55vh;
    right: -30vw;
}

#loginHdr {
    display: flex;
    align-items: center;
}