#formContainer {
    display: flex;
    position: absolute;
    background-color: #5089F9;
    left: 50%;
    top: 50%;
    width: 80vw;
    height: 78vh;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#loginWrapper {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#budgetWoman {
    width: 100%;
    border-radius: 15px;
}

#locationSelectors {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2.5%;
}

.dropdownWrapper {
    width: 50%;
    height: 5vh;
    align-items: center;
    border-radius: 12px;
}

#titleContainer {
    display: flex;
    align-items: center;
    height: 5vh;
}

#welcome {
    color: #dadbde;
    margin-top: 5vh;
    margin-bottom: 1.5vh;
}

#phrase {
    color: #dadbde;
    margin-top: 3vh;
}

#submitter {
    margin-top: 6.5%;
    margin-bottom: -1%;
    width: 75%;
}

a:hover {
    text-decoration: underline;
}

.select-border {
    border: 2px solid #5089F9; 
    box-shadow: 0 0 0 1px white;
    width: 49%;
    margin-bottom: -5px;
    margin-top: -2px;
}

.invalid {
    animation: shake 1000ms;
    box-shadow: 0 0 0.8rem #ff0000;
}

.wrongEntry {
    box-shadow: 0 0 0.8rem #ff0000;
}

@keyframes shake {
    10% { transform: translateX(4px); }
    20% { transform: translateX(-4px); }
    30% { transform: translateX(4px); }
    40% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    60% { transform: translateX(-4px); }
    70% { transform: translateX(4px); }
    80% { transform: translateX(-4px); }
    90% { transform: translateX(4px); }
}

#loginOptions {
    display: flex;
    width: 75%;
    height: 2vh;
    margin-top: 2.5%;
}

.optionWrapper {
    display: flex;
    flex: 1;
    align-items: center;
}

.p-checkbox {
    color: red;
}

.p-checkbox-icon {
    display: none;
}

.p-checkbox-box {
    color: red;
}

#check {
    color: red;
    
}