#ftr {
    position: absolute;
    bottom: 0px;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    margin: 5vh 7vw 50px 7vw;
    padding: 10px;
}

.subsection {
    border: 1px dotted red;
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

.subsectionRow {
    display: flex;
}

.mobileDownload {
    display: flex;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    background-color: #34353d;
    width: 125px;
    justify-content: center;
}

.mobileDownload:hover {
    background-color: #3a3b44c9;
}

.mobileContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mobileSpecifics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobileLogo {
    width: 20px;
    margin-right: 12px;
}

.txt {
    margin: 0px;
    color: #eff0f3;
}

#infoContainer {
    position: relative;
    text-align: center;
}

#welcomeDots {
    display: block;
    margin: 0 auto;
    width: 50vw;
    opacity: 60%;
}

#infoBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28vw;
    height: 67vh;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.statBox {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: flex-start;
    padding-left: 1vw;
}

.signupBottom {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 30px;
}

#inputty {
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0px 0px 0px 16px;
    background-color: transparent;
    border: 0px;
}

#inputty:focus {
    outline: none;

    color: #3d69f8;
}

#whiteMoney {
    height: 25vh;
    padding: 8% 5% 1% 5%;
}

.offer {
    font-size: 1.3rem;
    color: #eff0f3;
}

.quant {
    font-size: 2.5rem;
    color: white;
}

#featDisplay {
    height: 20vh;
}

.featBtn {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(15px);
    border: 0px;
    width: 95%;
    border-radius: 15px;
    margin: 5px 0px 5px 0px;
    height: 10vh;
    display: flex;
}

.featBtnInfo {
    display: flex;
    flex-direction: column;
}