.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Public-Sans';
    src: local('Public-Sans'), url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}

.container {
    background-color: #eff0f3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.body {
    display: flex;
    overflow: hidden;
}

.smallLogo {
    width: 3.2vw;
    height: 3vw;
    margin-right: 1vw;
}

.xsmallLogo {
    width: 2.2vw;
    height: 2vw;
    margin-right: .5vw;
    margin-top: -5%;
}

.logo {
    width: 2.3vw;
    height: 2vw;
}

.mainBtn {
    background-color: #2b2c34;
    color: #eff0f3;
    height: 4.5vh;
    width: 8vw;
    border-radius: 10px;
    border: 0px solid green;
    font-size: 1rem;
}

.mainBtn:hover {
    background-color: #3a3b44;
}

.actionBtn {
    display: flex;
    width: 115px;
    background-color: #5089F9;
    border-color: transparent;
    height: 35px;
    border-radius: 50px;
    align-items: center;
    color: #eff0f3;
    justify-content: center;
}

.actionBtn:hover {
    background-color: #3361FB;
}

.secondBtn:hover {
    color: #3a3b44;
    cursor: pointer;
    font-weight: bold;
}

p {
    font-family: 'Roboto-Regular';
    font-size: 1rem;
}

.input {
    width: 44.5%;
    height: 5vh;
    border-radius: 10px;
    border: 0px;
    padding: 0px 0px 0px 16px;
    background-color: #eff0f3;
    margin-top: 2.5%;
}

.errNoti {
    font-family: 'Roboto-Regular';
}

form {
    width: 75%;
}

.secondaryTxt {
    color: #3a3b44;
}

.hideItem {
    display: none;
}