.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Public-Sans';
    src: local('Public-Sans'), url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}

.container {
    background-color: #eff0F3;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.body {
    display: flex;
}

.logo {
    width: 5vw;
    height: 4.5vw;
    margin-bottom: -5px;
}

.mainBtn {
    background-color: #2b2c34;
    color: #eff0f3;
    height: 5vh;
    width: 9vw;
    border-radius: 10px;
    border: 0px solid green;
    font-size: 1.15rem;
}

.mainBtn:hover {
    background-color: transparent;
    color: #2b2c34;
    border: 3px solid #2b2c34;
}